/*****
1. missing bootsrap5 */

/*1. missing bootstrap5*/
.m-xl {
    margin: 50px;
}
.ml-n3{
    margin-left: -3rem;
}
.text-left {
    text-align: left;
}
/*.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentColor;
    opacity: .25;
}*/
.py-md-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;  
  }
  @media (min-width: 1400px) {
.pt-xxl-10 {
    padding-top: 10vw !important;
}
  }
  @media (min-width: 922px) {
  #topsection\ mobile, #topsection2\ mobile {
    display: none;
}
  }
/**********/
.mintnft.btn:hover {
    color: #000;
    background-color: #f1f1f1;
    border-color: #f5f5f5;
}
.navigation{
    width: 74px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}
.home-bg-webm {   
    height: 47vw;
}
.video-background, .bg-static {
 top: -32px;
 background: rgba(0,0,0,.5);
 position: absolute;
 right: 0;
 left: 0;
 z-index: -1;
 width: 100%;
 /*height: 107%!important;    */
}
.col.page-content {
    padding-left: 0;
    flex: 1 1;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}
.w-655{
    width: 655px;
}
.w-600 {
    width: 600px;
}
.section-1 {
/*    background: linear-gradient(*/
/*180deg, #3b3b3b, black);*/
/*    -moz-box-shadow: 0 -20px 10px 6px #3b3b3b;*/
/*    -webkit-box-shadow: 0 -20px 10px 6px #3b3b3b;*/
/*    box-shadow: 0 -20px 10px 6px #3b3b3b;*/
    margin-right: -12px !important;
    padding: 20px 40px;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.explore-nft {
    border-radius: 2rem;
    background: black;
    border: 7px solid #c7b61f !important;
    -moz-box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    -webkit-box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    z-index: 1;
}*

a.btn-collection {
    border-radius: 16px;
    border: solid 2px #0b761c;
    color: white;
    width: 15rem;
    text-transform: uppercase;
    transition: 0.5s;
}
a.btn-collection:hover {
    background: white;
    color: #126816;
}
.nftcard {
    /*margin-left: 3rem;*/
    z-index: 2;
}

.section-2 {
    background: url('../img/bg_discord.webp');
    background-size: cover;
    background-repeat: no-repeat;    
    margin-right: -12px !important;
    min-height: 950px;
}
.section-2 h3, .section-2 h1 {
    color: #000;
    text-shadow: inherit;
    font-weight: 900;
}
.section-2 img {
    margin-left: 8rem;
}
.section-3 {
    background-image: radial-gradient(circle, rgb(29 122 45) 0%, rgb(49 165 42) 0%, rgb(29 84 166 / 0%) 32%);
    /*background-image: radial-gradient(circle, rgb(29 122 45) 0%, rgb(49 165 42) 0%, rgb(29 84 166 / 0%) 300px);*/
    padding-bottom: 50px;
    padding-top: 3rem !important;
}
.highlights img {
    min-width: 34%;
}
.highlights  {
    margin-top: -200px;
}
.ylbr {
    border-radius: 2rem !important;
    border: 7px solid #c7b61f !important;
    -moz-box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    -webkit-box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
}
.hr-miles {
    border: 2px solid #ffe60c;
    max-width: 50vw;
    text-align: center;
    margin: 0 auto;
    opacity: 50%;
}
.glow {
    -webkit-filter: drop-shadow(0px 0px 20px #31a52a);
    filter: drop-shadow(#31a52a 0px 0px 20px);
}
.ylbr h4 {
    font-size: 1.6vw;
}
.ylbr .card-body ol>li:before, .achieved ol>li:before{
    content: "";
}
.ylbr .card-body li {
    text-align: left;
    margin-bottom: 0.2rem !important;
    font-size: 1.25rem;
    font-weight: 600;
}
.x-green {
    color: #17a008;
    font-size: 3rem;
}
.miles h3 {
    font-size: 1.6vw !important;
}
.miles span {
    font-size: 3vw !important;
}
.section-4{
    padding-top: 3vw!important;
}
.section-5 {
/*    background: linear-gradient( */
/*180deg, #000000, #41c702);*/
/*    -moz-box-shadow: 0 -20px 10px 6px #3b3b3b;*/
/*    -webkit-box-shadow: 0px 20px 0px 0px #41c702;*/
/*    box-shadow: 0px 20px 0px 0px #41c702;*/
    margin-right: -12px !important;
    color: white;
}
.submitform input {
    background-color: #1c1c1c;
    border: 3px solid #277901;
    border-radius: 1.5rem;
    font-size: 1.25rem;
    -webkit-box-shadow: 4px 5px 4px 0px #000000;
    box-shadow: 2px 2px 6px 0px #000000;
}
.submitform .btn-primary {
    border-radius: 1.5rem;
    font-size: 1.5rem;
    -webkit-box-shadow: 4px 5px 4px 0px #000000;
    box-shadow: 2px 2px 6px 0px #000000;
}
.ft-contact, .ft-contact a, .ft-contact span {
    color: #fff;
    font-size: 1.25vw;
    font-weight: 500;
}
.ft-contact h3 {
    font-size: 2.1vw !important;
}
.ft-contact i {
    font-size: 1.8rem;
}
.ft-contact .fa-discord {
    font-size: 2rem;
}
.ft-contact>div:first-child {
    border-right: 1px solid #333;
}
.ft-contact a.btn-dark {
    color: #fff;
    border-radius: 1.5rem;
    padding: 0.3rem 1.5rem;
    margin-left: 2rem;
    vertical-align: inherit;
    font-size: 1vw;
}
.nftc-r1{
    font-size: 2rem !important;
    font-weight: 500;
    font-style: oblique;
}
.nftc-r2{
    font-size: 1.09rem;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.js-cookie-consent {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: #212529;
    z-index: 1001;
}
.r-footer i {
    font-size: 3rem;
}
.nftasset {
    width: 100%;
}
.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.equal-cols:before,
  .row.equal-cols:after {
    display: block;
  }
  
  .row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
  }
  
