body {
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}
.col {
    padding: 0;
}
.container a,
.container-fluid a {
    color: #53900f;
    text-decoration: none;
}
img {
    max-width: 100%;
}

@keyframes colorchange {
    0% {
        background-color: forestgreen;
    }
    40% {
        background-color: orange;
    }
    100% {
        background-color: forestgreen;
    }
}
.nav-pills a {
    color: white;
    text-decoration: none;
}
.nav-pills img,
.nav-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        #0d8721 0%,
        rgb(0 0 0 / 38%) 85.94%,
        rgb(0 0 0 / 53%) 100%,
        rgb(0 0 0 / 0%) 100%
    );
    border: 3px solid #866404;
}
.nav-pills:hover img {
    background: linear-gradient(
        180deg,
        #0d8721 0%,
        rgb(0 0 0 / 38%) 85.94%,
        rgb(0 0 0 / 53%) 100%,
        rgb(0 0 0 / 0%) 100%
    );
    border: 3px solid #866404;
}
.nav-link {
    padding: 5px 0px;
}
.nav-link:hover .fas {
    background: rgb(125, 108, 15);
    background: radial-gradient(
        circle,
        rgba(125, 108, 15, 1) 0%,
        rgba(7, 103, 23, 1) 70%
    );
    color: #d2c343;
}
.nav-link:hover span,
.nav-link:focus span,
.nav-link:active span {
    color: #d2c343;
}
.home-bg {
    background: url('../img/home-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    overflow: hidden;
}
.grey-bg {
    background: rgba(55, 55, 55, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    margin-top: -85px;
    padding: 90px 30px 30px 30px;
}
.homepage-logo {
    position: absolute;
    top: 90px;
    text-align: center;
    margin: 0 auto;
}
.btn-discord,
.btn-primary {
    border: green;
    background: linear-gradient(
        180deg,
        #0d8721 0%,
        rgb(0 0 0 / 100%) 85.94%,
        rgb(0 0 0 / 100%) 100%
    );
    border-radius: 15px;
    font-weight: bold;
    color: white !important;
}
.btn-discord:hover,
.btn-primary:hover {
    background: linear-gradient(180deg, rgba(92,113,15,1) 32%, rgba(78,96,15,1) 55%, rgba(3,3,3,1) 90%);
}
.grey-bg .btn-discord {
    font-size: 1.0rem;
    line-height: 1.7rem;
    margin: -20px;
    width: 437px;
    padding: 15px 5px;
}
.grey-bg .btn-discord .fa-discord {
    font-size: 1.5rem;
    vertical-align: middle;
}
.grey-bg .btn-discord span {
    vertical-align: middle;
    margin-left: 5px;
}
.section-2 .btn-discord {
    font-size: 1.5rem;
    border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}
h1 {
    color: white;
    text-shadow: 0px 0px 4px chartreuse;
    font-size: 4rem;
}
h3 {
    font-size: 1.5rem;
}
.shadow {
    text-shadow: 0px 0px 4px chartreuse;
}
.card {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px springgreen;
}
.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}
.card-head {
    position: absolute;
    top: -50px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.card-with-img {
    margin-top: 80px;
}
.card-with-img,
.card-with-img li {
    font-size: 1rem !important;
    font-weight: 500;
}

.timeline,
.timeline-progress {
    position: absolute;
    z-index: 1;
    width: 5px;
    left: -100%;
    margin-top: 20px;
}
.fa-calendar-alt {
    color: black;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 50%;
}
.timeline {
    background: white;
}
.timeline-progress {
    background: #0d8721;
}
@media screen and (max-width: 992px) {
    .timeline,
    .timeline-progress {
        left: 30%;
    }
}
@media screen and (max-width: 768px) {
    .timeline,
    .timeline-progress {
        left: 31.5%;
    }
}

#backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    color: #53900f;
    cursor: pointer;
    text-shadow: 0px 0px 3px white;
    font-size: 40px;
}
.text-quartal h3 {
    padding-left: calc(100% - 120px);
}

.footer {
    font-size: 1.2rem;
    text-align: center;
}
.footer ul {
    list-style-type: square;
    font-size: 1.4em;
    margin-top: 2em;
}
.footer a {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 5px #53900f;
}
.footer-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.social-media .fab,
.social-media .fas {
    font-size: 3em;
    padding: 5px;
}
.team-img-wrapper img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
}
.team-wrapper {
    text-align: center;
}
.team-wrapper a {
    color: white;
}
.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background-color: #866404;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #866404;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #866404;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #866404;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #866404;
}
.disabled-tooltip {
    display: inline;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 1em;
}

ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 1em;
}

li ol > li {
    margin-top: 0.2em;
}

li ol > li:before {
    content: counters(item, ".") " ";
}
vr {
    border-right: 1px solid #aaa;
    display: inline;
    height: 100%;
    margin: -5px 15px;
}
.top-right-navbar .fab {
    color: white;
}
.fs-7 {
    font-size: 0.8rem;
}
.second-nav-community,
.second-nav-more {
    position: absolute;
    left: 74px;
    width: 78px;
    background: #050505;
    top: 69px;
    z-index: 100;
    text-align: center;
    height: 100%;
}
.icomoon,
.nav-pills .far,
.nav-pills .fas,
.nav-pills .fab,
.second-nav-community .fab,
.second-nav-more .far,
.second-nav-more .fas {
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    background: linear-gradient(
        180deg,
        #0d8721 0%,
        rgb(0 0 0 / 38%) 85.94%,
        rgb(0 0 0 / 53%) 100%,
        rgb(0 0 0 / 0%) 100%
    );
    border: 3px solid #866404;
    border-radius: 50%;
    font-size: 1.7rem;
    padding: 8px 0;
    display: inline-block;
}
.icomoon {
    font-size: 3rem;
    padding: 0 !important;
}
.second-nav-community a,
.second-nav-more a {
    display: block;
    padding: 5px 0px;
}

.nav-pills span,
.second-nav-community span,
.second-nav-more span {
    color: white;
    font-weight: bold;
    font-size: 9px;
    display: block;
}
.whitepaper-wrapper {
    background: #d5bd9e;
    color: black;
}
.nav-pills a:hover .far,
.nav-pills a:hover .fas,
.nav-pills a:hover .fab,
.second-nav-community a:hover .fab,
.second-nav-more a:hover .far,
.second-nav-more a:hover .fas,
.nav-pills a:hover img {
    background: linear-gradient(180deg, rgba(92,113,15,1) 32%, rgba(78,96,15,1) 55%, rgba(3,3,3,1) 90%);
}
.nav-pills a:hover span,
.second-nav-community a:hover span,
.second-nav-more a:hover span,
.nav-pills a:hover img {
    color: #d2c343;
}
.yellow-border {
    border: 5px solid #c7b61f;
    box-shadow: 2px 2px 3px black;
    border-radius: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
}
.grey-container {
    background: rgb(69,68,65);
background: linear-gradient(180deg, rgba(69,68,65,1) 3%, rgba(0,0,0,1) 71%);
}
.team-wrapper-v2 {
    text-align: center;
}
.team-wrapper-v2 img {
    border-radius: 50%;
    object-fit: cover;
    width: 120px;
    height: 120px;
}
.team-wrapper-v2 p {
    font-weight: bold;
    margin-bottom: 0;
}
.team-wrapper-v2 span {
    font-size: 0.8rem;
}
.team-wrapper-v2 .fab,
.team-wrapper-v2 .fas {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin: 2px;
    border-radius: 50%;
    background: linear-gradient(180deg, #0d8721 0%, rgb(0 0 0 / 38%) 85.94%, rgb(0 0 0 / 53%) 100%, rgb(0 0 0 / 0%) 100% );
    border: 2px solid #866404;
    height: 35px;
    width: 35px;
}
.border-team {
    border: 4px solid goldenrod;
    border-radius: 20px;
    text-align: center;
    margin: 10px -8px;
    padding: 5px;
    box-shadow: 0 0 6px limegreen;
    background: url('../img/bg_teams.webp');
    background-size: 100%;
    background-repeat: repeat-y;
}
.img-h-150 {
    height: 150px;
    width: auto;
    margin: 0 auto;
}
.bg-blur {
    background: rgba(0,0,0,0.5) !important;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.q-current, .q-next {
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px auto;
    text-shadow: 0 0 7px black;
    position: relative;
    z-index: 3;
}
.q-current h2, .q-next h2 {
    line-height: 1rem; 
}
.q-past {
    background: linear-gradient(
        180deg,
        #0d8721 0%,
        rgb(0 0 0)100%,
        rgb(0 0 0 / 23%) 10%,
        rgb(0 0 0 / 0%) 10%
    );
    border: 3px solid #866404;
    width: 250px;
    text-align: center;
	padding: 2px;
    z-index: 3;
    position: relative;
    margin: 0 auto;
}
.q-current {
    background: linear-gradient(
        180deg,
        #a26101 0%,
        rgb(0 0 0)100%,
        rgb(0 0 0 / 23%) 10%,
        rgb(0 0 0 / 0%) 10%
    );
    border: 4px solid #866404;
    height: 90px;
    width: 90px;
    padding: 22px 10px;
}
.q-next {
    background: linear-gradient(
        180deg,
        grey 0%,
        rgb(0 0 0)100%,
        rgb(0 0 0 / 23%) 10%,
        rgb(0 0 0 / 0%) 10%
    );
    border: 3px solid #866404;
    height: 80px;
    width: 80px;
    padding: 18px 10px;
}
.desc-past ul, .desc-current ul, .desc-next ul {
    min-height: 80px;
    display:inline-grid;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 10px lime;
    background: black;
    width: 100%;
}
.desc-past li, .desc-current li, .desc-next li {
    display:flex;
    align-items: center;
    color: white;
}
.fa-check {
    color: green;
}
.blink {
    -webkit-animation: blink 2s infinite both;
    animation: blink 2s infinite both;
    font-size: 12px;
    display: block;
    line-height: 8px;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.bg-breathing {    
    opacity: 0;
    animation: bgflare 10s infinite;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    z-index: -2;
}
.bg-lines {
    background: url('../img/lines.webp');
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    opacity: 0.05;
}
@keyframes bgflare {
    0% {
        opacity: 0;
        background: transparent;
    }
    2% {
        opacity: 0.3;
        background: rgb(0,62,1);
        background: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    20% {
        opacity: 1;
        background: rgb(0,62,1);
        background: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    40% {
        opacity: 0.3;
        background: rgb(0,62,1);
        background: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    45% {
        opacity: 0.1;
        background: rgb(0,62,1);
        background: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    50% {
        opacity: 0.1;
        background: rgb(133,107,0);
        background: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    60% {
        opacity: 0.3;
        background: rgb(133,107,0);
        background: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    70% {
        opacity: 0.5;
        background: rgb(133,107,0);
        background: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    80% {
        opacity: 0.3;
        background: rgb(133,107,0);
        background: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    90% {
        opacity: 0.1;
        background: rgb(133,107,0);
        background: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    100% {
        opacity: 0;
        background: transparent;
    }
}

.bts-wrapper {
    overflow: hidden;
    padding: 0 !important;
}
.bts-img {
  display: block;
  transition: transform .4s;   /* smoother zoom */
}
.bts-wrapper:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.bg-dark {
    background: #050505 !important;
}

@keyframes borderflare {
    0% {
        opacity: 0;
        border: 5px solid;
        border-color: transparent;
    }
    2% {
        opacity: 0.3;
        border: 5px solid;
        border-color: rgb(0,62,1);
        border-color: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    20% {
        opacity: 1;
        border: 5px solid;
        border-color: rgb(0,62,1);
        border-color: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    40% {
        opacity: 0.3;
        border: 5px solid;
        border-color: rgb(0,62,1);
        border-color: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    45% {
        opacity: 0.1;
        border: 5px solid;
        border-color: rgb(0,62,1);
        border-color: linear-gradient(90deg, rgba(0,62,1,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(4,74,15,1) 100%);
    }
    50% {
        opacity: 0.1;
        border: 5px solid;
        border-color: rgb(133,107,0);
        border-color: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    60% {
        opacity: 0.3;
        border: 5px solid;
        border-color: rgb(133,107,0);
        border-color: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    70% {
        opacity: 0.5;
        border: 5px solid;
        border-color: rgb(133,107,0);
        border-color: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    80% {
        opacity: 0.3;
        border: 5px solid;
        border-color: rgb(133,107,0);
        border-color: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    90% {
        opacity: 0.1;
        border: 5px solid;
        border-color: rgb(133,107,0);
        border-color: linear-gradient(90deg, rgba(133,107,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 40%, rgba(154,133,10,1) 100%);
    }
    100% {
        opacity: 0;
        border: 5px solid;
        border-color: transparent;
    }
}
.borderflare {
    animation: borderflare 10s infinite;
}
.nftasset,
.bts-wrapper {
    -moz-box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    -webkit-box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
    box-shadow: 4px 5px 4px 0px #000000, -1px 5px 4px 0px #000000 inset;
}
.explore-nft > div
    h1{
        font-size: 3rem;
    
}
.card-news {
    background: rgba(255,255,255,0.8);
    color: black;
    cursor: pointer;
    font-family: Arial, helvetica, sans-serif;
    font-weight: normal;
}
.card-news img {
    height: 100%;
    object-fit: cover;
}
.news-date {
    background: forestgreen;
    color: white;
    width: fit-content;
    padding: 5px 15px;
    font-size: 0.75rem;
}
.single-news-img {
    width: 100%;
}
.pagination {
    justify-content: center;
}
.page-link {
    background: rgba(255,255,255,0.8) !important;
    padding: 0.5rem 1rem;
}
.page-item .page-link {
    color: forestgreen !important;
    font-weight: bold;
}
.page-item.active .page-link {
    background: forestgreen !important;
    border: 1px solid forestgreen;
    color: white !important;
    font-weight: bold;
}
.page-item.disabled .page-link {
    color: grey !important;
    font-weight: bold;
}
.lang-flags {
    height: 20px;
    cursor: pointer;
}
.lang-switch {
    position: fixed;
    background: #050505;
    padding: 0px 15px 10px 15px;
    right: 103px;
    z-index: 999999;
    top: 52px;
}
.page-content {
    margin-top: 81px;
    margin-left: 74px
}
.display-2 {
    font-weight: 800;
    color: black;
}

.h1-style {
    color: white;
    text-shadow: 0px 0px 4px chartreuse;
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0;
}

.explore-nft .h1-style {
    color: white;
    text-shadow: 0px 0px 4px chartreuse;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}
.grey-bg-text {
    color: white; 
    font-size: 1.5rem !important; 
    text-shadow: none; 
    display: inline;
}
.post-title {
    text-shadow: none;
    color: black;
    font-size: 2.5rem;
}

.h2-style {
    font-size: 2rem !important;
    text-shadow: none;
    color: black;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.navigation::-webkit-scrollbar,
.second-nav-community::-webkit-scrollbar,
.second-nav-more::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navigation,
.second-nav-community,
.second-nav-more {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.social-footer {
    font-size: 3rem;
}
.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: white;
    opacity: .25;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}
.no-style {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
}
.academy-ft-img {
    height: 200px !important;
    width: 100%;
    object-fit: cover;
}
.academy-headline-img {
    height: 420px !important;
    width: 100%;
    object-fit: cover;
}
.footer img {
    height: 180px;
    margin-bottom: 10px;
}
.readmore {
    position: absolute;
    left: 35px;
    bottom: 10px;
}
.readmore-18 {
    position: absolute;
    left: 18px;
    bottom: 10px;
}